<nav>
    <div class="site-title">
        <a href="/">
            <h1>Phocabulary</h1>
        </a>
    </div>
    <div class="menu-view">
        <span class="menubar">
            <ul>
                <li><a href="/home">Home</a> </li>
                <li><a href="/about">About</a> </li>
                <li></li>
                <li></li>
            </ul>
         </span>
    </div>
</nav>