<html>
    <%- include('./partials/head.ejs') %> 
    <body>
        <%-include('./partials/nav.ejs') %> 
        <div class="about content">
            <img src="/logo.png" alt="logo" class="logo">
            <p>
                Phocabulary is an educational app built for students, by students.
Using AI models, Phocabulary allows users to see and learn about
physical objects on their camera screens with just a click.
<br/><br/>
Phocabulary targets children across Hong Kong and not only teaches
them vocabulary, but also makes them more aware of their
surroundings. Our app is already capable of detecting 90+ objects in
the environment.
<br/><br/>
Phocabulary will enable accounts/log-in functionality, allowing users
to interact with each other. Users will be able to play fun quizzes with
other users, allowing them to retain previously learned knowledge and build friendships.   
 <br/><br/>
Phocabulary will employ a freemium business model, making money
through ads and subscriptions. All users can enjoy a majority (60-80%)
of functionality with ads, while subscriptions allow for removal of ads
or increase in functionality. To increase popularity, all users enjoy the
full version until the user base reaches a certain size.
<br/><br/><br/><br/>
Phocabulary是一個學生創建的，為學生服務的手機軟件程式。通
過强大的人工智能模型，Phocabulary運用手機自配的攝像功能，
讓用戶一點屏幕就能夠看到和學習到自己周圍的物件的名字。
<br/><br/>
Phocabulary主要針對的用戶群體是香港小童。它不僅僅教這些小
童新詞匯，還能讓小朋友們對自己日常周圍的環境更熟悉和瞭解
。我們的程式已可以辨認超過九十個常見物件，例如床和書。
<br/><br/>
Phocabulary將來會開啓賬戶登入登出服務，以便讓用戶輕而易舉
的和彼此進行互動。用戶將會能夠同其他用戶一起玩有趣的問卷
，有效的保留之前所學到的知識，并且互相建立友誼。
<br/><br/>
Phocabulary還將運用免費增值商業模式，通過廣告和訂閲賺錢。
所有用戶都將可以無需廣告的使用大約60%-80%我們提供的程式
功能，而訂閲則會讓用戶享受沒有廣告的服務或更多的程式功能
。
            </p>
        </div>
    </body>
</html>