<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs') %> 
    <body>
        <%-include('./partials/nav.ejs') %> 
        <div class="main-section">
            <img src="/logo.png" alt="logo" class="logo">
            <div class="main-body">
                <div class="mainitems">
                    <p id="textstartdescription">Learn with Ease!</p>
                    <a href="/login" id="startlearn">Start Learning now</a>
                </div>
            </div>
        </div>
    </body>
    <%-include('./partials/footer.ejs') %> 
</html>