<html>
    <%- include('./partials/head.ejs') %> 
    <body>
        <%-include('./partials/nav.ejs') %> 
        <div class="login content">
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input type="text" id="uname" name="uname" required>
                <div class="usernameerr"></div>
                <label for="password">Password</label>
                <input type="password" id="pass" name="pass" required>
                <div class="passworderr"></div>
                <button>Submit!</button>
            </form>
        </div>
        <div class="content register">
            <p> Don't have an account?</p>
            <a href="/register">  Register now!</a>
        </div>
    </body>
    <script>
        const form = document.querySelector('form');

        form.addEventListener('submit',(e)=>{

            //prevent the automatic refresh of the page which usually happenes after post request happenes

            e.preventDefault();

            //get the values
            const username = form.runame.value;
            const password = form.rpass.value;
            if(username && password ){
            console.log(username,password);
            }

        })
    </script>
</html>